.inp {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #d4d9de; /* Cor da borda mais clara */
  border-radius: 5px;
  padding: 0.5rem; /* Espaçamento menor dentro do input */
}

@media (max-width: 768px) {
  .inp {
    width: 100%;
    margin-bottom: 1rem;
  }
}
