/* Container */
.container {
  display: flex;
  background-color: #f1f5f9; /* Cor de fundo mais clara */
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem; /* Aumentei o padding para um visual mais espaçado */
  border-bottom: 2px solid #d4d9de; /* Usei uma cor de borda mais clara */
}

/* Perfil */
.profile {
  color: #333; /* Cor do texto mais escura para maior legibilidade */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%; /* Largura automática para ajustar ao conteúdo */
}

.welcome {
  color: #333; /* Cor do texto mais escura */
  font-size: 1rem;
}

.useremail {
  color: #888; /* Cor do e-mail mais clara para menor destaque */
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  /* Container */
  .container {
    flex-direction: column;
    padding: 1rem; /* Reduzido o espaçamento vertical */
    text-align: center;
  }

  /* Perfil */
  .profile {
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .welcome,
  .useremail {
    text-align: center;
  }
}
